<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>ResponseTest</servlet-name>
    <servlet-class>com.cjk.ResponseTest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetInfoServlet</servlet-name>
    <servlet-class>com.cjk.GetInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Error</servlet-name>
    <servlet-class>com.cjk.Error</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetRequestHeader</servlet-name>
    <servlet-class>com.cjk.GetRequestHeader</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MyInfoForm</servlet-name>
    <servlet-class>com.cjk.MyInfoForm</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterCL</servlet-name>
    <servlet-class>com.cjk.RegisterCL</servlet-class>
  </servlet>
  
  
  
  <servlet-mapping>
    <servlet-name>ResponseTest</servlet-name>
    <url-pattern>/ResponseTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetInfoServlet</servlet-name>
    <url-pattern>/GetInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Error</servlet-name>
    <url-pattern>/Error</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetRequestHeader</servlet-name>
    <url-pattern>/GetRequestHeader</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyInfoForm</servlet-name>
    <url-pattern>/MyInfoForm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterCL</servlet-name>
    <url-pattern>/RegisterCL</url-pattern>
  </servlet-mapping>
  
  
</web-app>